<ActionBar title="time-range" class="action-bar"> </ActionBar>
<StackLayout>
  <TimeRange width="100%" height="100%" startTime="10:00" endTime="1:00" sliderColor="red" clockLabelColor="blue" clockTickColor="green" maxDurationMinutes="1" sliderRangeColor="green" thumbColor="#CCCCCC" sliderRangeGradientEnd="red" sliderRangeGradientMiddle="blue" sliderRangeGradientStart="yellow" timeStepMinutes="1" clockVisible="true" clockLabelSize="10" sliderWidth="50" thumbIconSize="100" thumbSize="100" thumbIconStartRes="icon" thumbIconEndRes="icon" clockFace="APPLE" hourFormat="FORMAT_12" (drag)="onDrag($event)"></TimeRange>
</StackLayout>
